<section id="banner">
  <div class="position-relative w-100 h-100 d-flex flex-column justify-content-center">
    <div id="banner-text">
      <h1>Ayano Fujita</h1>
      <p>Welcome! As a junior web developer and part-time teaching assistant at Le Wagon Tokyo, I'm passionate about continuous learning and helping others grow. I’m always looking for new opportunities to expand my skills and make an impact through code.
      </p>
      <button id="skills-btn" class="btn btn-outline-dark rounded-pill py-2 px-3 me-4">Skills</button>
      <a href="#contact" class="border border-dark border-500 bg-black text-white py-2 px-3">Let's Talk  -></a>
    </div>
    <div class="d-none position-absolute w-100 h-100 img-container d-flex flex-wrap">
      <%= image_tag "logos/rails_logo.png", alt: "rails logo", style: "top: 25%; right: 30%; z-index: 2;", class: "d-none opacity-100" %>
      <%= image_tag "logos/JavaScript_logo.png", alt: "javascript logo", style: "bottom: 20%; left: 20%; z-index: 2;", class: "d-none opacity-100" %>
      <%= image_tag "logos/sql_icon.png", alt: "sql icon", style: "bottom: 30%; right:15%; z-index: 2;", class: "d-none rounded-0 opacity-100" %>

      <%= image_tag "logos/github_logo.png", alt: "github logo", style: "bottom: 20%; right: 25%;", class: "d-none rounded-0 opacity-75" %>
      <%= image_tag "logos/html_logo_circle.png", alt: "html logo", style: "bottom: 10%; left: 10%;", class: "d-none opacity-75" %>
      <%= image_tag "logos/css_logo_circle.png", alt: "css logo", style: "bottom: 15%; left: 30%;", class: "d-none opacity-75" %>

      <%= image_tag "logos/postgresql_plain.png", alt: "postgresql logo", style: "bottom: 25%; right: 5%;", class: "d-none rounded-0 opacity-50" %>
      <%= image_tag "logos/figma_logo.png", alt: "figma logo", style: "top: 10%; right: 25%;", class: "d-none rounded-0 opacity-50" %>
      <%= image_tag "logos/bs_with_title.png", alt: "bootstrap logo", style: "top: 20%; right: 10%;", class: "d-none rounded-0 opacity-50" %>
    </div>
  </div>
</section>
